.hypothesis
.sconsign.dblite
*.log
.sconf_temp
*.cfgc
*.pyc
*.log
.vscode

# Built by sconsUtils
version.py

# Pytest
tests/.tests
pytest_session.txt
.cache
.hypothesis
.pytest_cache
.coverage

# Editors
.vscode
